/*
link rel: yes
embed <style>:
embed style="": yes

a tags:
OR
class="": 
.class:
OR
id="":
#id:

font size, weight, and treatment: yes
position and alignment of elements: yes (not all)
manipulation of images:
and hover and visibility changes links or other elements:
*/
body {
    background-image: url("seattle.jpg"); /* Phillip created a background image and made it responsive */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center; /* Phillip moved text-align CSS code to the body to apply for all text */
  }
  h1 {
    color:#072177;  /* David: changed color for h1 tag */
  }
  h2 {
    color: #4d1170; /* David: h2 tags need some love too <3 */
  }
  h3 {
    color: #b967e9; /* David: h3 tags need some love too <3 */
  }
  table {
    border-style: solid;
    border-width: 5px 5px; /* David: 5px top and bottom, 5px on the sides to */
    background-color: white;
  }
  p.one {
    border-style: solid;
    border-width: 5px 5px; /* David: 5px top and bottom, 5px on the sides */
    color: #143053; /* David: dark indigo blue to make specific paragraph unique */
    /* David: stylized frame */
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  div.categories { /* Jason .categories comes from class="categories", */
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: auto;
  }
  #Topic { /* Jason added #id */
    color: hotpink;
  }
  div.pill {
    border: 2px solid #ff7300;
    border-radius: 5px; 
  }
