/*
link rel: yes
embed <style>:
embed style="": yes

a tags:
OR
class="": 
.class:
OR
id="":
#id:

font size, weight, and treatment: yes
position and alignment of elements: yes (not all)
manipulation of images:
and hover and visibility changes links or other elements:
*/
body {
    background-image: url("seattle.jpg"); /* Phillip created a background image and made it responsive */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center; /* Phillip moved text-align CSS code to the body to apply for all text */
  }
  h1 {
    color:#072177;  /* David: changed color for h1 tag */
  }
  h2 {
    color: #4d1170; /* David: h2 tags need some love too <3 */
  }
  h3 {
    color: #b967e9; /* David: h3 tags need some love too <3 */
  }
  .one {
    border-style: solid;
    border-width: 5px 5px; /* David: 5px top and bottom, 5px on the sides */
    color: #143053; /* David: dark indigo blue to make specific paragraph unique */
    /* David: stylized frame */
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .categories { /* Jason Estrada .categories comes from class="categories", */
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: auto;
  }
  #Topic { /* Jason Estrada comment commment*/
    color: hotpink;
  }
  .pill {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 3px solid #ff7300;
    background-color:rgba(115, 239, 255, 0.733);
    border-radius: 15px;
    width: 55%;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .JasonDivs { /* Jason Div Section */ 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 3px solid black;
    background-color: lightslategray;
    border-radius: 15px;
    width: 55%;
  }
  .Hiroki {  /* Hiroki div section*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 3px solid black;
    background-color:rgba(58, 162, 204, 0.774);
    border-radius: 15px;
    width: 55%;
  }
  .tablehi {
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
  .tableh { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Hiroki having difficulty with centering a table, tried doing padding-left: 200px; but isn't responsive for different desktops */
  }
  .david { /* HIroki added David div section*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 3px solid black;
    /* David: added background color to webpage and added translucency to make text more visible */
    background-color: rgba(196, 146, 230, 0.774);
    border-radius: 15px;
    width: 55%;
  }
  .davimg::after {
    clear: both;
    display: table;
  }
  .imgedit {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

